<div class="container fixed-bottom bg-light border border-dark rounded text-center p-2">
    <footer>
        &copy; @DateTime.Now.Year - <a href="https://github.com/asuendermann" target="_blank">https://github.com/asuendermann</a>
    </footer>
</div>